.splash-container {
    z-index: 1;
    width: 100%;
    height: 88%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    overflow: hidden;
}

.splash__text {
    position: absolute;
    top: 100px;
    margin: 0 auto;
    height: 50%;
    color: white;
    text-align: center;
    width: 100%;
}

.content {
    z-index: 2;
    min-height: 12%;
    top: 87%;
    position: absolute;
    background: white;
    width: 100%;
}

.about {
    padding: 1em 1em 3em;
    margin: 0 auto;
    max-width: 32em;
}

.footer {
    width: 100%;
    background: #eeeeee;
}

.navigation-menu {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    padding: 1em;
    background: white;
    width: 100%;
    justify-content: end;
}