html,
body {
    padding: 0;
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #eeeeee;
    height: 3em;
    line-height: 3em;
}

.content {
    width: 100%;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    background: #eeeeee;
    height: 7em;
}


.navigation-menu {
    max-width: 32em;
    margin: 0 auto;
    display: flex;
    gap: 1.2em;
    justify-content: flex-end;
}

.navigation-menu__item {
    text-decoration: none;
}

.navigation-menu__item.current {
    text-decoration: underline;
}
.splash-container {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: block;
    position: relative;
}

.splash__text {
    position: absolute;
    top: 100px;
    margin: 0 auto;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}

.ribbon {
    width: 100%;
}

.box-l {
    max-width: 32em;
    margin: 0 auto;
    text-align: justify;
    box-sizing: border-box;
    padding: 1.2em 3em;
}

