:root {}

.site-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.header {
    display: flex;
    flex-direction: row;
    max-width: 32em;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 1em;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    z-index: 3;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.main {
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}