:root {}
html,
body {
    padding: 0;
    margin: 0;
}

.site-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.header {
    display: flex;
    flex-direction: row;
    max-width: 32em;
    margin: 0 auto;
    justify-content: space-between;
    box-sizing: border-box;
    padding: .2em 0;
    align-items: center;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.navigation-menu > a {
    color: black;
    text-decoration: none;
}

.content {
    background: lightgray;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding: .7em;
    max-width: 72em;
    margin: 0 auto;
}

.splash {
    box-sizing: border-box;
    height: 250px;
    padding-top: 100px;
    background: darkgray;
}

.splash__text {
    font-size: 2em;
    text-align: center;
}

.footer {
    text-align: center;
    background: darkgray;
    min-height: 7em;
    box-sizing: border-box;
    padding: .7em 1.4em;
}

.content > article {
    flex: 1;
}

.employments {
    flex: 2 !important;
    height: 32em;
    overflow-y: scroll;
}
.switchers {
    display: flex;
    float: left;
}

.theme-switcher .current,
.lang-switcher .current {
    font-weight: bold;
}